.footer__column-link {
  text-decoration: none;
  color: white;
  display: block;
  transition: opacity .3s linear;
}

.footer__column-link:not(.footer__column-link:last-child) {
  padding-bottom: 10px;
}

.footer__column-link:hover {
  opacity: .7;
}


